.container {
	width: 1248px;
	padding-left: 8px;
	padding-right: 8px;
	box-sizing: content-box;
}

ul,li{
	list-style: none;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 0px;
	padding: 0;
}

a:hover{
	text-decoration: none;
}
.navbar-fixed-top a
.nav-stacked > li + li {
    margin: 0;
	
}
.nav-pills > li > a {
    border-radius: 0;
}
.nav > li > a:hover, .nav > li > a:focus {
    background-color: #f7f8fa;
}



.head {
	background-color: #222222;
	height: 36px;
	display: flex;
	justify-content: center;
	.container {
		box-sizing: content-box;
		padding: 8px;
		height: 18px;
	}
}
.navbar-fixed-top {
	height: 120px;
	a {
		//font-family: OPPOSans2,PingFang SC,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif;
		color: #EEEEEE;
		font-size: 12px;
	}
	span {
		margin-right: 4px;
	}
}

.navbar-left {
	padding: 0;
	li {
		float: left;
		margin-right: 24px;
		line-height: 18px;
	}
}
.navbar-right {
	padding: 0;
	color: #EEEEEE;
	li {
		float: left;
		line-height: 18px;
		a{
			font-weight: 400;
			display: inline-block;
			padding: 0 12px;
			box-sizing: content-box;
			&:hover +.scan-img{
				display: block;
			}
		}
	}
	&>span {
		float: left;
	}
	.scan-img{
		display: none;
		width: 156px;
		height: 180px;
		padding: 8px;
		position: absolute;
		z-index: 99999;
		margin-top: 10px;
		background-color: #fff;
		border-radius: 6px;
		img{
			width: 140px;
			height: 140px;
			margin-bottom: 4px;
		}
		p{
			font-size: 12px;
			text-align: center;
			color: rgba(0,0,0,.87);
		}
	}
}

// nav-fixed
.navbar-fixed{
	box-sizing: content-box;
	height: 68px;
	padding: 8px;
	display: flex;
	align-items: center;
	background-color: white;
	border-bottom:1px solid rgba(0, 0, 0, 0.06);;
	.nav-img {
		width: 250px;
		height: 50px;
		img{
			height: 100%;
		}
	}
	ul{
		width: 700px;
		// flex-grow: 1.5;
		display: flex;
		overflow-y: auto;
		justify-content: space-around;
		align-items: center;
		padding-left: 30px;
		flex-shrink: 0;
		a{
			background-color: transparent;
			color: black;
			font-size: 14px;
			opacity: .5;
			white-space: nowrap;
			font-weight: 500;
		}
	}
	.spacer {
	    flex-grow: 1;
	}
	.nav-search{
		margin-left: auto;
		// align-content: flex-end;
		align-items: center;
		height: 36px;
		width: 160px;
		display: flex;
		padding: 8px 16px;
		justify-content: space-between;
		border-radius: 20px;
		background-color: rgba(238, 238, 238, 0.5);
		input{
			width: 98px;
			height: 14px;
			border: 0;
			background-color: rgba(238, 238, 238, 0.5);
			color: rgba(0,0,0,.3);
			font-size: 14px;
			line-height: 20px;
			outline: none;
			padding: 0;
			&::placeholder{
				color: rgba(0,0,0,.1);
				
			}
			
		}
		.glyphicon {
			color: rgba(0,0,0,.87);;
		}
	}
}



footer {
	margin-top: 110px;
	background-color: white;
	.container {
		padding-bottom: 16px;
	}
	.foot_head {
		padding: 48px 0 40px;
		display: flex;
		justify-content: space-around;
		div {
			font-size: 16px;
			text-align: center;
			img{
				margin: 8px 0;
			}
		}
	}
	hr{
		margin: 0;
	}
	.foot_body {
		margin: 64px 0 48px;
		display: flex;
		justify-content: space-between;
		.foot_body_left {
			display: flex;
			font-size: 16px;
			dl {
				margin: 0;
			}
			dt,dd {
				margin-bottom: 16px;
				a {
					color: #535355;
					font-weight: 300;
				}
			}
		}
		.foot_body_right {
			div {
				img {
					margin-right: 16px;
				}
				&:nth-child(1){
					font-size: 15px;
					font-weight: 400;
				
					height: 51px;
					width: 173px;
					background-color: #535355;
					ont-size: 15px;
					border-radius: 2em;
					a {
						display: flex;
						justify-content: center;
						align-items: center;
						color: white;
						width: 100%;
						height: 100%;
					}
				}
				&:nth-child(2){
					margin-top: 24px;
					font-size: 20px;
					text-align: right;
				}
				&:nth-child(3){
					font-size: 12px;
					text-align: right;
				}
			}
		}
		
	}
	.foot_foot {
		margin: 16px 0 32px;
		.foot_a {
			margin-bottom: 16px;
		}
		span,a {
			font-size: 12px;
			opacity: .8;
			color: #acabb0;
		}
		.foot_img {
			img {
				width: 24px;
				height: 24px;
				margin-right: 8px;
			}
		}
	}
}

aside {
	position: absolute;
	top: 950px;
	right: 40px;
	float: right;
	z-index: 500;
	.phone_number,.download_app {
		position: absolute;
		left: -10px;
		transform: translateX(-100%);
		transition: all .2s;
		opacity: 0;
		border-radius: 6px;
		background-color: white;
	}
	
	.phone_number {
		height: 68px;
		top: 68px;
		padding: 8px 16px;
		p {
			white-space:nowrap;
			margin: 0;
			&:nth-child(1){
				font-size: 20px;
			}
			&:nth-child(2){
				font-size: 12px;
			}
		}
	}
	.download_app {
		text-align: center;
		top: 136px;
		width: 156px;
		height: 180px;
		padding: 8px;
		font-size: 12px;
		line-height: 20px;
		img {
			width: 140px;
			height: 140px;
			margin-bottom: 4px;
		}
	}
	
	ul {
		border-radius: 6px;
		margin-bottom: 8px;
		overflow: hidden;
	}
	li {
		width: 68px;
		height: 68px;
		background-color: white;
		border-bottom: 1px solid #e8e8e8;
		img,embed {
			width: 28px;
			height: 28px;
		}
		a {
			height: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			font-size: 12px;
			color: #666666;
			transition: all .2s;
			&:hover {
				color: #f34141!important;
			}
			&:hover img{
			    // -webkit-filter: drop-shadow(0px 0px 0px #2B76B3);
				// display: none;
				transform: translateX(-100px);
				-webkit-filter: drop-shadow(100px 0px 0px,#f34141);
				filter: drop-shadow(100px 0 0 #f34141);
			}
		}
		
		&:nth-child(2):hover .phone_number {
			opacity: 1;
		}
		&:nth-child(3):hover .download_app {
			opacity: 1;
		}
	}
	
	
}

#quit {
	cursor: pointer;
}

/**
 * Author szy
 */