.container {
  width: 1248px;
  padding-left: 8px;
  padding-right: 8px;
  box-sizing: content-box;
}
ul,
li {
  list-style: none;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0px;
  padding: 0;
}
a:hover {
  text-decoration: none;
}
.navbar-fixed-top a .nav-stacked > li + li {
  margin: 0;
}
.nav-pills > li > a {
  border-radius: 0;
}
.nav > li > a:hover,
.nav > li > a:focus {
  background-color: #f7f8fa;
}
.head {
  background-color: #222222;
  height: 36px;
  display: flex;
  justify-content: center;
}
.head .container {
  box-sizing: content-box;
  padding: 8px;
  height: 18px;
}
.navbar-fixed-top {
  height: 120px;
}
.navbar-fixed-top a {
  color: #EEEEEE;
  font-size: 12px;
}
.navbar-fixed-top span {
  margin-right: 4px;
}
.navbar-left {
  padding: 0;
}
.navbar-left li {
  float: left;
  margin-right: 24px;
  line-height: 18px;
}
.navbar-right {
  padding: 0;
  color: #EEEEEE;
}
.navbar-right li {
  float: left;
  line-height: 18px;
}
.navbar-right li a {
  font-weight: 400;
  display: inline-block;
  padding: 0 12px;
  box-sizing: content-box;
}
.navbar-right li a:hover + .scan-img {
  display: block;
}
.navbar-right > span {
  float: left;
}
.navbar-right .scan-img {
  display: none;
  width: 156px;
  height: 180px;
  padding: 8px;
  position: absolute;
  z-index: 99999;
  margin-top: 10px;
  background-color: #fff;
  border-radius: 6px;
}
.navbar-right .scan-img img {
  width: 140px;
  height: 140px;
  margin-bottom: 4px;
}
.navbar-right .scan-img p {
  font-size: 12px;
  text-align: center;
  color: rgba(0, 0, 0, 0.87);
}
.navbar-fixed {
  box-sizing: content-box;
  height: 68px;
  padding: 8px;
  display: flex;
  align-items: center;
  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}
.navbar-fixed .nav-img {
  width: 250px;
  height: 50px;
}
.navbar-fixed .nav-img img {
  height: 100%;
}
.navbar-fixed ul {
  width: 700px;
  display: flex;
  overflow-y: auto;
  justify-content: space-around;
  align-items: center;
  padding-left: 30px;
  flex-shrink: 0;
}
.navbar-fixed ul a {
  background-color: transparent;
  color: black;
  font-size: 14px;
  opacity: 0.5;
  white-space: nowrap;
  font-weight: 500;
}
.navbar-fixed .spacer {
  flex-grow: 1;
}
.navbar-fixed .nav-search {
  margin-left: auto;
  align-items: center;
  height: 36px;
  width: 160px;
  display: flex;
  padding: 8px 16px;
  justify-content: space-between;
  border-radius: 20px;
  background-color: rgba(238, 238, 238, 0.5);
}
.navbar-fixed .nav-search input {
  width: 98px;
  height: 14px;
  border: 0;
  background-color: rgba(238, 238, 238, 0.5);
  color: rgba(0, 0, 0, 0.3);
  font-size: 14px;
  line-height: 20px;
  outline: none;
  padding: 0;
}
.navbar-fixed .nav-search input::placeholder {
  color: rgba(0, 0, 0, 0.1);
}
.navbar-fixed .nav-search .glyphicon {
  color: rgba(0, 0, 0, 0.87);
}
footer {
  margin-top: 110px;
  background-color: white;
}
footer .container {
  padding-bottom: 16px;
}
footer .foot_head {
  padding: 48px 0 40px;
  display: flex;
  justify-content: space-around;
}
footer .foot_head div {
  font-size: 16px;
  text-align: center;
}
footer .foot_head div img {
  margin: 8px 0;
}
footer hr {
  margin: 0;
}
footer .foot_body {
  margin: 64px 0 48px;
  display: flex;
  justify-content: space-between;
}
footer .foot_body .foot_body_left {
  display: flex;
  font-size: 16px;
}
footer .foot_body .foot_body_left dl {
  margin: 0;
}
footer .foot_body .foot_body_left dt,
footer .foot_body .foot_body_left dd {
  margin-bottom: 16px;
}
footer .foot_body .foot_body_left dt a,
footer .foot_body .foot_body_left dd a {
  color: #535355;
  font-weight: 300;
}
footer .foot_body .foot_body_right div img {
  margin-right: 16px;
}
footer .foot_body .foot_body_right div:nth-child(1) {
  font-size: 15px;
  font-weight: 400;
  height: 51px;
  width: 173px;
  background-color: #535355;
  ont-size: 15px;
  border-radius: 2em;
}
footer .foot_body .foot_body_right div:nth-child(1) a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 100%;
  height: 100%;
}
footer .foot_body .foot_body_right div:nth-child(2) {
  margin-top: 24px;
  font-size: 20px;
  text-align: right;
}
footer .foot_body .foot_body_right div:nth-child(3) {
  font-size: 12px;
  text-align: right;
}
footer .foot_foot {
  margin: 16px 0 32px;
}
footer .foot_foot .foot_a {
  margin-bottom: 16px;
}
footer .foot_foot span,
footer .foot_foot a {
  font-size: 12px;
  opacity: 0.8;
  color: #acabb0;
}
footer .foot_foot .foot_img img {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}
aside {
  position: absolute;
  top: 950px;
  right: 40px;
  float: right;
  z-index: 500;
}
aside .phone_number,
aside .download_app {
  position: absolute;
  left: -10px;
  transform: translateX(-100%);
  transition: all 0.2s;
  opacity: 0;
  border-radius: 6px;
  background-color: white;
}
aside .phone_number {
  height: 68px;
  top: 68px;
  padding: 8px 16px;
}
aside .phone_number p {
  white-space: nowrap;
  margin: 0;
}
aside .phone_number p:nth-child(1) {
  font-size: 20px;
}
aside .phone_number p:nth-child(2) {
  font-size: 12px;
}
aside .download_app {
  text-align: center;
  top: 136px;
  width: 156px;
  height: 180px;
  padding: 8px;
  font-size: 12px;
  line-height: 20px;
}
aside .download_app img {
  width: 140px;
  height: 140px;
  margin-bottom: 4px;
}
aside ul {
  border-radius: 6px;
  margin-bottom: 8px;
  overflow: hidden;
}
aside li {
  width: 68px;
  height: 68px;
  background-color: white;
  border-bottom: 1px solid #e8e8e8;
}
aside li img,
aside li embed {
  width: 28px;
  height: 28px;
}
aside li a {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: #666666;
  transition: all 0.2s;
}
aside li a:hover {
  color: #f34141 !important;
}
aside li a:hover img {
  transform: translateX(-100px);
  -webkit-filter: drop-shadow(100px 0px 0px, #f34141);
  filter: drop-shadow(100px 0 0 #f34141);
}
aside li:nth-child(2):hover .phone_number {
  opacity: 1;
}
aside li:nth-child(3):hover .download_app {
  opacity: 1;
}
#quit {
  cursor: pointer;
}
/**
 * Author szy
 */
