@charset 'utf-8';
@font-face {
  font-family: 'OPPOSans2';
  src: url(../fonts/OPPOSans-Medium.621326d.ttf);
}
.hover {
  transition: all 0.2s;
}
.hover:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
  transform: translateY(-1px);
}
body {
  background-color: #F5F5F8 !important;
}
.banner {
  margin-top: 120px;
  position: relative;
}
.banner .carousel-indicators li {
  margin: 0 8px;
}
.banner .carousel-inner {
  height: 606px;
}
.banner .carousel-inner a {
  position: relative;
  display: block;
}
.banner .carousel-inner a > img {
  position: absolute;
  max-width: none !important;
  height: 606px;
  left: 50%;
  transform: translateX(-50%);
}
.banner .nav {
  position: absolute;
  width: 220px;
  top: 32px;
  padding: 7px 3px 0 3px;
  border-radius: 6px;
  background-color: #fff;
}
.banner .nav li > a {
  color: #000000;
  padding: 0 12px 0 20px;
  height: 38px;
  line-height: 38px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner .nav li > a img {
  height: 12px;
  width: 12px;
}
.banner .nav li:nth-child(1) .padding-20px {
  top: -7px;
}
.banner .nav li:nth-child(2) .padding-20px {
  top: -45px;
}
.banner .nav li:nth-child(3) .padding-20px {
  top: -83px;
}
.banner .nav li:nth-child(4) .padding-20px {
  top: -121px;
}
.banner .nav li:nth-child(5) .padding-20px {
  top: -159px;
}
.banner .nav li:nth-child(6) .padding-20px {
  top: -197px;
}
.banner .nav li:nth-child(7) .padding-20px {
  top: -235px;
}
.banner .nav li:nth-child(8) .padding-20px {
  top: -273px;
}
.banner .nav li:nth-child(9) .padding-20px {
  top: -311px;
}
.banner .nav li:nth-child(10) .padding-20px {
  top: -349px;
}
.banner .nav li:nth-child(11) .padding-20px {
  top: -387px;
}
.banner .nav li:nth-child(12) .padding-20px {
  top: -425px;
}
.banner .nav li:nth-child(13) .padding-20px {
  top: -463px;
}
.banner .nav li:nth-child(14) .padding-20px {
  top: -501px;
}
.banner .nav li:hover .padding-20px {
  display: block;
}
.banner .nav li .padding-20px {
  display: none;
  padding-left: 35px;
  position: absolute;
  left: 205px;
}
.banner .sub-nav {
  box-sizing: content-box;
  width: 717px;
  height: 485px;
  padding: 28px 8px 28px 22px;
  background-color: white;
  border-radius: 6px;
}
.banner .sub-nav h4 {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  margin: 0 0 8px 8px;
}
.banner .sub-nav .row {
  margin: 0;
}
.banner .sub-nav .col-md-4 {
  height: 61px;
  padding: 8px;
}
.banner .sub-nav .col-md-4 a {
  display: block;
}
.banner .sub-nav .col-md-4 img {
  width: 45px;
  height: 45px;
  margin-right: 4px;
}
.banner .sub-nav .col-md-4 span {
  font-size: 14px;
  color: #666;
}
.banner .sub-nav .col-md-4 .shadow_div {
  border-radius: 4px;
  transition: all 0.2s;
}
.banner .sub-nav .col-md-4 .shadow_div:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
  transform: translateY(-1px);
}
.head-line {
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
  border-radius: 6px;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1);
  background-color: white;
}
.head-line .head-line-left a {
  display: block;
  width: 312px;
  height: 90px;
}
.head-line .head-line-left a img {
  width: 100%;
  height: 100%;
}
.head-line .head-line-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 48px;
  border-left: 1px solid #dee1e6;
  border-right: 1px solid #dee1e6;
  flex-grow: 1;
  margin: 0 16px;
}
.head-line .head-line-center div {
  text-align: center;
}
.head-line .head-line-center img {
  width: 40px;
  height: 35px;
  margin-bottom: 8px;
}
.head-line .head-line-center p {
  font-size: 16px;
  color: black;
}
.head-line .head-line-right {
  display: flex;
  padding-left: 20px;
  width: 292px;
  align-items: center;
}
.head-line .head-line-right .people {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #d2d2d2;
  text-align: center;
}
.head-line .head-line-right .people span {
  line-height: 48px;
  font-size: 16px;
}
.head-line .head-line-right .login {
  margin-left: 8px;
}
.head-line .head-line-right .login a {
  color: #333333;
}
.head-line .head-line-right .login span {
  opacity: 0.55;
}
.head-line .head-line-right .login p {
  margin-bottom: 4px;
}
.phone_product .row {
  padding: 32px 0;
  margin-left: -8px;
  margin-right: -8px;
}
.phone_product .col-md-3 {
  padding: 8px;
}
.phone_product .col-md-3 img {
  width: 100%;
  height: 100%;
}
.time_kill {
  padding: 40px 0;
}
.time_kill .time_kill_head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
}
.time_kill .time_kill_head h2 {
  margin: 0;
  line-height: 56px;
}
.time_kill .time_kill_head span {
  font-size: 24px;
}
.time_kill .time_kill_head a {
  font-size: 16px;
  color: #737373;
}
.time_kill .kill_content {
  display: flex;
  height: 320px;
}
.time_kill .kill_content_left {
  display: flex;
  flex-direction: column;
  flex-basis: 240px;
  background-color: white;
  flex-shrink: 0;
  margin-right: 16px;
}
.time_kill .kill_content_left .kill_time {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  height: 80px;
}
.time_kill .kill_content_left .kill_time .sj {
  position: absolute;
  right: -8px;
  display: none;
}
.time_kill .kill_content_left .kill_time .sj .glyphicon {
  color: #f9566a;
}
.time_kill .kill_content_left .past_time h3,
.time_kill .kill_content_left .past_time span {
  color: #c7c7c7;
}
.time_kill .kill_content_left .now_time {
  background: linear-gradient(130deg, #f34141, #f9576c);
}
.time_kill .kill_content_left .now_time .time_left {
  color: white;
}
.time_kill .kill_content_left .now_time .time_right span {
  color: white;
  font-weight: 700;
}
.time_kill .kill_content_left .now_time .time_right span:nth-child(odd) {
  display: inline-block;
  width: 27px;
  height: 27px;
  background-color: white;
  color: #f44336;
  font-size: 15px;
  text-align: center;
  line-height: 27px;
  font-weight: 700;
  border-radius: 3px;
}
.time_kill .kill_content_left .now_time .sj {
  display: block!important;
}
.time_kill .kill_content_left .future_time span,
.time_kill .kill_content_left .future_time h3 {
  color: #666666;
}
.time_kill .kill_content_left h3 {
  font-size: 18px;
  line-height: 27px;
  margin: 0;
}
.time_kill .kill_content_left span {
  font-size: 13px;
  font-weight: 300;
}
.time_kill .kill_content_left .conut {
  display: inline-block;
  color: #f44336 !important;
  font-size: 15px;
  line-height: 1.8em;
  text-align: center;
  height: 1.8em;
  width: 1.8em;
  background-color: #fff;
  border-radius: 3px;
}
.time_kill .kill_content_right {
  flex-grow: 1;
}
.time_kill .kill_content_right .row {
  margin: 0 -8px;
}
.time_kill .kill_content_right .col-md-3 {
  padding: 0 8px;
}
.time_kill .kill_content_right .col-md-3 .kill_product {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  height: 320px;
  justify-content: space-between;
}
.time_kill .kill_content_right .col-md-3 .kill_product img {
  display: inline-block;
  width: 155px;
  height: 155px;
}
.time_kill .kill_content_right .col-md-3 .kill_product .word {
  width: 100%;
}
.time_kill .kill_content_right .col-md-3 .kill_product p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  color: #000000;
  font-size: 16px;
  padding: 0 20px;
}
.time_kill .kill_content_right .col-md-3 .kill_product .bar {
  width: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
}
.time_kill .kill_content_right .col-md-3 .kill_product .bar .progress {
  flex-grow: 1;
  width: 100%;
  height: 8px;
  margin-right: 10px;
  margin-bottom: 0;
  background-color: #fee0df;
}
.time_kill .kill_content_right .col-md-3 .kill_product .bar .progress .progress-bar {
  background: linear-gradient(228deg, #f03446, #ff722c);
}
.time_kill .kill_content_right .col-md-3 .kill_product .bar .remainder {
  white-space: nowrap;
}
.time_kill .kill_content_right .col-md-3 .kill_product .bar span {
  font-size: 12px;
  color: #000000;
  opacity: 0.45;
}
.time_kill .kill_content_right .col-md-3 .kill_product .product_price {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 20px;
  margin-bottom: 18px;
  align-items: center;
}
.time_kill .kill_content_right .col-md-3 .kill_product .product_price .sale-price span:nth-child(1) {
  color: #f44336;
  font-size: 16px;
}
.time_kill .kill_content_right .col-md-3 .kill_product .product_price .sale-price span:nth-child(2) {
  color: #b2b2b2;
  font-size: 12px;
}
.time_kill .kill_content_right .col-md-3 .kill_product .product_price .buying {
  width: 80px;
  height: 32px;
  border-radius: 20px;
  background-color: red;
  text-align: center;
  font-size: 13px;
  color: 13px;
  line-height: 32px;
  color: white;
}
.sales_area .seles_head {
  padding-top: 36px;
  margin-bottom: 24px;
  font-size: 24px;
  font-weight: 500;
}
.sales_area .col-md-3 {
  padding: 8px;
}
.sales_area .seles_content {
  display: flex;
  background-color: white;
  position: relative;
  border-radius: 0.5rem;
  overflow: hidden;
}
.sales_area .seles_content img {
  width: 130px;
  height: 130px;
}
.sales_area .seles_content .seles_word {
  width: 100%;
  padding-top: 30px;
  padding-right: 15px;
}
.sales_area .seles_content .seles_word div {
  color: black;
}
.sales_area .seles_content .seles_word div:nth-child(1) {
  font-size: 18px;
}
.sales_area .seles_content .seles_word div:nth-child(2) {
  font-size: 14px;
  opacity: 0.55;
}
.sales_area .seles_content .seles_word div:nth-child(3) {
  font-size: 20px;
  color: #f44336;
  margin-top: 8px;
}
.sales_area .seles_content .info {
  position: absolute;
  right: 0;
  top: 0;
  width: 73px;
  height: 30px;
  text-align: center;
  color: white;
  line-height: 30px;
  border-bottom-left-radius: 0.5rem;
  background: linear-gradient(90deg, #fb6332 0%, #f34141 100%);
}
.sales_area .col-md-6 {
  height: 236px;
  padding: 8px;
}
.sales_area .col-md-6 a {
  width: 100%;
  height: 100%;
}
.sales_area .col-md-6 a img {
  width: 100%;
  height: 100%;
}
.oppo .oppo_head {
  font-family: OPPOSans2, PingFang SC, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif;
  padding: 68px 0 24px 0;
  font-size: 24px;
  font-weight: 500;
  color: black;
}
.oppo .oppo_nav {
  display: flex;
}
.oppo .oppo_nav a {
  font-size: 14px;
  margin-right: 42px;
  color: #9e9e9e;
}
.oppo .oppo_nav a:first-child {
  color: black;
}
.oppo .oppo_nav a:nth-child(n + 2):hover {
  color: #f34141;
}
@media screen and (min-width: 768px) {
  .carousel-indicators {
    bottom: 10px!important;
  }
}
