@charset 'utf-8';

@font-face{
	font-family:'OPPOSans2';
	src:url(../fonts/OPPOSans-Medium.621326d.ttf);
}

.hover {
	transition: all .2s;
	&:hover {
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.08);
		transform: translateY(-1px);
	}
}

body {
	background-color: #F5F5F8 !important;
}

// banner
.banner {
	margin-top: 120px;
	position: relative;
	.carousel-indicators {
		li{
			margin: 0 8px;
		}
	}
	.carousel-inner {
		height: 606px;
		a {
			position: relative;
			display: block;
			>img{
				position: absolute;
				max-width: none !important;
				height: 606px;
				left: 50%;
				transform: translateX(-50%);
				
			}
		}
	}
	.nav {
		position: absolute;
		width: 220px;
		top: 32px;
		padding: 7px 3px 0 3px;
		border-radius: 6px;
		background-color: #fff;
		li > a{
			color: #000000;
			padding: 0 12px 0 20px;
			height: 38px;
			line-height: 38px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			img{
				height: 12px;
				width: 12px;
			}
		}
		li{
			.set-subnav(@n, @i:1) when (@i <= @n) {
			  &:nth-child(@{i}) .padding-20px{
			    top: ( -38px * (@i - 1) - 7px);
			  }
			  .set-subnav(@n,(@i+1));
			}
			.set-subnav(14);
			
			&:hover .padding-20px{
				display:block
			}
			.padding-20px{
				display: none;
				padding-left: 35px;
				position: absolute;
				left: 205px;
			}
		}
		
	}
	
	.sub-nav{
		// display: none;
		box-sizing: content-box;
		width: 717px;
		height: 485px;
		padding: 28px 8px 28px 22px;
		background-color: white;
		border-radius: 6px;
		h4 {
			font-size: 16px;
			line-height: 1.5;
			font-weight: 500;
			margin: 0 0 8px 8px;
		}
		.row{
			margin: 0;
		}
		.col-md-4{
			height: 61px;
			padding: 8px;
			a{
				display: block;
			}
			img{
				width: 45px;
				height: 45px;
				margin-right: 4px;
			}
			span{
				font-size: 14px;
				color: #666;
			}
			.shadow_div{
				border-radius: 4px;
				transition: all .2s;
				&:hover {
					// box-shadow: 0 4px 8px 0 black;
					box-shadow: 0 4px 8px 0 rgba(0,0,0,0.08);
					transform: translateY(-1px);
					// box-shadow: 0 4px 8px 0 rgb(0 0 0 / 10%);
				}
			}
		}
	}
}


.head-line {
	margin-top: 32px;
	display: flex;
	justify-content: space-between;
	border-radius: 6px;
	box-shadow: 0 3px 10px 0 rgba(0,0,0,.1);
	background-color: white;
	.head-line-left {
		a{
			display: block;
			width: 312px;
			height: 90px;
			img{
				width: 100%;
				height: 100%;
			}
		}
	}
	.head-line-center {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 48px;
		border-left: 1px solid #dee1e6;
		border-right: 1px solid #dee1e6;
		flex-grow: 1;
		margin: 0 16px;
		div {
			text-align: center;
		}
		img{
			width: 40px;
			height: 35px;
			margin-bottom: 8px;
		}
		p {
			font-size: 16px;
			color: black;
		}
	}
	.head-line-right {
		display: flex;
		padding-left: 20px;
		width: 292px;
		align-items: center;
		.people{
			width: 48px;
			height: 48px;
			border-radius: 50%;
			background-color: rgb(210, 210, 210);
			text-align: center;
			span{
				line-height: 48px;
				font-size: 16px;
			}
		}
		.login {
			margin-left: 8px;
			a{
				color: #333333;
			}
			span{
				opacity: .55;
			}
			p{
				margin-bottom: 4px;
			}
		}
	}
}

// phone_product
.phone_product {
	.row {
		padding: 32px 0;
		margin-left: -8px;
		margin-right: -8px;
	}
	.col-md-3 {
		padding: 8px;
		img{
			width: 100%;
			height: 100%;
		}
	}
}

// time_kill
.time_kill{
	padding: 40px 0;
	.time_kill_head {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 56px;
		h2{
			margin: 0;
			line-height: 56px;
		}
		span{
			font-size: 24px;
		}
		a{
			font-size: 16px;
			color: #737373;
		}
	}
	.kill_content {
		display: flex;
		height: 320px;
	}
	
	.kill_content_left {
		display: flex;
		flex-direction: column;
		flex-basis: 240px;
		background-color: white;
		flex-shrink: 0;
		margin-right: 16px;
		.kill_time {
			position: relative;
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 12px;
			height: 80px;
			.sj {
				position: absolute;
				right: -8px;
				display: none;
				.glyphicon {
					color: #f9566a;
				}
			}
		}
		.past_time{
			h3,span{
				color: #c7c7c7;
			}
		}
		.now_time {
			background:linear-gradient(130deg,#f34141,#f9576c);
			.time_left {
				color: white;
			}
			.time_right span{
				color: white;
				font-weight: 700;
				&:nth-child(odd){
					display: inline-block;
					width: 27px;
					height: 27px;
					background-color: white;
					color: #f44336;
					// color: white;
					font-size: 15px;
					text-align: center;
					line-height: 27px;
					font-weight: 700;
					border-radius: 3px;
				}
			}
			.sj {
				display: block!important;
			}
		}
		
		
		
		.future_time {
			span,h3{
				color: #666666;
			}
		}
		h3{
			font-size: 18px;
			line-height: 27px;
			margin: 0;
		}
		span {
			font-size: 13px;
			font-weight: 300;
		}
		.conut {
			display: inline-block;
			color: #f44336!important;
			font-size: 15px;
			line-height: 1.8em;
			text-align: center;
			height: 1.8em;
			width: 1.8em;
			background-color: #fff;
			border-radius: 3px;
		}
	}
	
	.kill_content_right {
		// flex-shrink: 1;
		flex-grow: 1;
		.row{
			margin: 0 -8px;
		}
		.col-md-3 {
			padding: 0 8px;
			
			.kill_product{
				display: flex;
				flex-direction: column;
				align-items: center;
				background-color: white;
				height: 320px;
				justify-content: space-between;
				img{
					display: inline-block;
					width: 155px;
					height: 155px;
				}
				.word{
					width: 100%;
				}
				p {
					white-space:nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					text-align: center;
					color: #000000;
					font-size: 16px;
					padding: 0 20px;
					// ext-overflow :ellipsis;
				}
				
				.bar {
					width: 100%;
					padding: 0 20px;
					display: flex;
					align-items: center;
					.progress {
						flex-grow: 1;
						width: 100%;
						height: 8px;
						margin-right: 10px;
						margin-bottom: 0;
						background-color: #fee0df;
						.progress-bar {
							background: linear-gradient(228deg,#f03446,#ff722c);
						}
					}
					.remainder {
						white-space: nowrap;
					}
					span{
						font-size: 12px;
						color: #000000;
						opacity: .45;
					}
				}
				.product_price{
					display: flex;
					width: 100%;
					justify-content: space-between;
					padding: 0 20px;
					margin-bottom: 18px;
					align-items: center;
					.sale-price {
						span{
							&:nth-child(1){
								color: #f44336;
								font-size: 16px;
							}
							
							&:nth-child(2){
								color:#b2b2b2;
								font-size: 12px;
							}
						}
					}
					.buying {
						width: 80px;
						height: 32px;
						border-radius: 20px;
						background-color: red;
						text-align: center;
						font-size: 13px;
						color: 13px;
						line-height: 32px;
						color: white;
					}
				}
				
			}
		}
	}
	
	
}


// sales_area
.sales_area {
	.seles_head {
		padding-top:36px;
		margin-bottom: 24px;
		font-size: 24px;
		font-weight: 500;
	}
	.col-md-3 {
		padding: 8px;
	}
	.seles_content {
		display: flex;
		background-color: white;
		position: relative;
		border-radius: .5rem;
		overflow: hidden;
		img{
			width: 130px;
			height: 130px;
		}
		.seles_word {
			width: 100%;
			padding-top: 30px;
			padding-right: 15px;
			div{
				color: black;
				&:nth-child(1){
					font-size: 18px;
				}
				&:nth-child(2){
					font-size: 14px;
					opacity: .55;
				}
				&:nth-child(3){
					font-size: 20px;
					color: #f44336;
					margin-top: 8px;
				}
			}
		}
		.info {
			position: absolute;
			right: 0;
			top: 0;
			width: 73px;
			height: 30px;
			text-align: center;
			color: white;
			line-height: 30px;
			border-bottom-left-radius: .5rem;
			// border-top-right-radius: .5rem;
			// background: linear-gradient(90deg,rgba(251, 99, 50,0),rgba(243, 65, 65,1));
			background: linear-gradient(90deg, rgb(251, 99, 50) 0%, rgb(243, 65, 65) 100%)
			
		}
	}
	.col-md-6 {
		height: 236px;
		padding: 8px;
		a {
			width: 100%;
			height: 100%;
			img{
				width: 100%;
				height: 100%;
			}
		}
	}
	
}



.oppo {
	.oppo_head {
		font-family: OPPOSans2,PingFang SC,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif;
		padding: 68px 0 24px 0;
		font-size: 24px;
		font-weight: 500;
		color: black;
	}
	.oppo_nav {
		display: flex;
		a{
			font-size: 14px;
			margin-right: 42px;
			color: #9e9e9e;
			&:first-child{
				color: black;
			}
			&:nth-child(n + 2):hover {
				color:#f34141;
			}
			
		}
	}
		
	
	
	
}
@media screen and (min-width: 768px){
	.carousel-indicators {
	    bottom: 10px!important;
	}
}
