.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus,
.btn:hover,
.btn.active {
  outline: none;
}
.btn-group.open .dropdown-toggle {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-color: transparent!important;
  outline: none;
}
.bootstrap-select .dropdown-toggle:focus,
.bootstrap-select > select.mobile-device:focus + .dropdown-toggle {
  outline: 0;
  outline-color: #f7f7f7 !important;
}
.btn-default:hover {
  background-color: transparent;
  border-color: transparent;
}
.btn-default:focus,
.btn-default.focus {
  background-color: transparent;
}
.btn-default {
  background-color: transparent!important;
}
.form-control {
  height: 45px;
  padding: 10px 15px;
  background-color: #f7f7f7;
  border: none;
  border-radius: 9px !important;
  overflow: hidden;
}
.form-control:focus {
  box-shadow: none;
}
.form-control::-webkit-input-placeholder {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.3);
}
.bootstrap-select .dropdown-toggle:focus,
.bootstrap-select > select.mobile-device:focus + .dropdown-toggle {
  outline: none!important;
  outline-color: none!important;
}
body {
  background: url(../imgs/login-bg.png) center center;
}
.not-login {
  cursor: not-allowed !important;
  opacity: 0.3;
}
.go-login {
  cursor: pointer!important;
}
.go-login:hover {
  background-color: #21a767 !important;
  border-color: #21a767;
}
header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 78px;
  width: 894px;
  margin: auto;
}
header a {
  color: #7f7f7f;
}
header a:hover {
  color: #7f7f7f;
  opacity: 0.5;
  text-decoration: none;
}
header .btn {
  color: #7f7f7f;
}
header .btn:hover {
  color: #7f7f7f;
  opacity: 0.5;
}
header button {
  padding: 0!important;
  border: none!important;
  margin-left: 27px!important;
}
header .dropdown-menu {
  transform: translate(-15px, 10px);
  min-width: 110px;
}
header .dropdown-menu a {
  text-align: center;
  line-height: 40px;
  padding: 5px 20px;
  color: #7f7f7f;
}
main {
  position: relative;
  width: 380px;
  background-color: #FFFFFF;
  margin: 127px auto 24px;
  border-radius: 8px;
  padding: 40px;
}
main .scanning {
  position: absolute;
  right: 2px;
  top: 2px;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #7f7f7f;
}
main .scanning div:nth-child(1) {
  position: relative;
  height: 23px;
  line-height: 23px;
  background: url(../imgs/h.png) center center;
  margin: 0 12px;
  font-size: 12px;
}
main .scanning div:nth-child(1)::before {
  position: absolute;
  top: 0;
  left: -12px;
  width: 12px;
  height: 23px;
  content: "";
  background: url(../imgs/before.png) center center;
}
main .scanning div:nth-child(1)::after {
  position: absolute;
  top: 0;
  width: 12px;
  height: 23px;
  content: "";
  background: url(../imgs/after.png) center center;
}
main h3 {
  line-height: 37px ;
  font-size: 26px;
  padding: 10px 0 30px;
  text-align: center;
  margin: 0;
}
main .choose {
  display: flex;
  height: 34px;
  margin-bottom: 20px;
}
main .choose button {
  font-size: 16px;
  width: 150px;
  border: none;
  padding: 0 10px!important;
}
main .choose button:nth-child(1) {
  color: rgba(0, 0, 0, 0.5);
}
main .choose button:nth-child(2) {
  color: #000000;
}
main a {
  font-size: 12px;
  color: #7f7f7f;
}
main a:hover {
  color: #7f7f7f;
  opacity: 0.5;
  text-decoration: none;
}
main .password {
  position: relative;
}
main .password .glyphicon-eye-close {
  z-index: 999;
  position: absolute;
  right: 11px;
  top: 50%;
  transform: translateY(-50%);
  color: #C7C7C7;
  cursor: pointer;
  font-size: 16px;
}
main .login_into {
  margin: 37px 0 9px;
  display: flex;
}
main .login_into .btn {
  font-size: 15px;
  width: 100%;
  height: 48px;
  color: #fff;
  margin: auto;
  border-radius: 9px;
  transition: all 0.2s;
  background-color: #2ad181;
}
main .code_login .input-group {
  margin-bottom: 10px;
  width: 100%;
}
main .phone_login .input-group {
  width: 100%;
  margin-bottom: 10px;
}
main .phone_login .verification .code {
  width: calc(100% - 9px);
}
main .phone_login .verification .btn {
  padding: 0 8px;
  width: 90px;
  height: 45px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.15) !important;
  color: white;
  border-radius: 9px !important;
  font-size: 12px;
  border: none;
}
main .info {
  display: flex;
  margin-bottom: 36px;
  justify-content: space-between;
}
main .info .reg {
  color: #2ad181;
}
main .other {
  position: relative;
}
main .other span {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 0 21px;
  white-space: nowrap;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
}
main .qq {
  margin-top: 12px;
  text-align: center;
  cursor: pointer;
}
main .qq img {
  width: 28px;
  height: 28px;
}
main .change_scanner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .change_scanner div {
  margin-bottom: 20px;
}
main .change_scanner div:nth-child(1) {
  width: 180px;
  height: 180px;
  border: 1px solid #d8d8d8;
  border-radius: 9px;
}
main .change_scanner div:nth-child(1) img {
  width: 100%;
  height: 100%;
}
main .change_scanner div:nth-child(2) {
  transform: translateX(15px);
  width: 180px;
  height: 180px;
}
main .change_scanner div:nth-child(2) img {
  width: 100%;
  height: 100%;
}
footer {
  padding: 20px;
  text-align: center;
  font-size: 12px;
}
footer span {
  color: #9b9b9b;
}
