@charset 'utf-8';
.btn {
  font-size: 16px;
}
.col-md-6 {
  padding: 0 6px!important;
  margin-bottom: 12px;
}
.opacity1 {
  opacity: 1!important;
}
#myModal1 .modal-dialog {
  margin-top: 200px;
}
#myModal1 h4 {
  text-align: center;
}
#myModal1 .modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
}
#myModal1 button {
  background: red;
  border-radius: 29px;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  width: 136px;
  margin: 0;
  height: 48px;
}
main {
  margin-top: 160px;
}
main .container {
  width: 1264px;
  margin: auto;
  padding: 0;
}
main .shop {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  padding-bottom: 40px;
}
main .shop .btn:hover,
main .shop .btn-default:hover {
  background-color: transparent;
  color: #f50514;
  border-color: #f50514;
}
main .shop .btn:hover span,
main .shop .btn-default:hover span {
  color: #f50514 !important;
}
main .shop .btn:focus,
main .shop .btn-default:focus {
  outline: none;
  background-color: transparent;
  border-color: #f50514;
  color: #f50514;
}
main .shop .btn:focus span,
main .shop .btn-default:focus span {
  color: #f50514 !important;
}
main .shop .left_pic {
  overflow: hidden;
  width: 600px;
}
main .shop .left_pic .lt,
main .shop .left_pic .gt {
  position: absolute;
  z-index: 999;
  top: 0;
  line-height: 90px;
  width: 45px;
  height: 90px;
  background-color: white;
  text-align: center;
  cursor: pointer;
  user-select: none;
}
main .shop .left_pic .lt {
  left: -45px;
  opacity: 0.6;
}
main .shop .left_pic .gt {
  right: -45px;
  display: block;
}
main .shop .left_pic .ul_big {
  display: flex;
  position: relative;
}
main .shop .left_pic .ul_big li {
  flex-shrink: 0;
  width: 600px;
  height: 600px;
}
main .shop .left_pic .ul_big img {
  width: 100%;
  height: 100%;
}
main .shop .left_pic #ul_width {
  position: relative;
  margin: 24px auto 0;
}
main .shop .left_pic .ul_small {
  overflow: hidden;
}
main .shop .left_pic .ul_small ul {
  width: 510px;
  height: 90px;
  display: flex;
}
main .shop .left_pic .ul_small #smallPic {
  position: relative;
  transition: all 0.3s;
}
main .shop .left_pic .ul_small li {
  opacity: 0.6;
}
main .shop .left_pic .ul_small img {
  width: 90px;
  height: 90px;
  margin-right: calc(-90px + (510px / 4));
  cursor: pointer;
}
main .shop .right_info {
  width: 600px;
}
main .shop .right_info h3 {
  font-size: 28px;
  font-weight: 400;
  color: #000;
  margin: 0 0 20px;
  line-height: 42px;
}
main .shop .right_info .activity {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}
main .shop .right_info .activity .activity_left {
  display: flex;
}
main .shop .right_info .activity .activity_left .activity_info {
  padding: 0 6px;
  border-radius: 3px;
  height: 24px;
  font-size: 14px;
  font-weight: 400;
  color: #f63434;
  line-height: 24px;
  background: #fff3f3;
  margin-right: 10px;
  border: none ;
}
main .shop .right_info .activity .details {
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  color: #f63434;
  cursor: pointer;
  background-color: transparent;
  border: transparent;
}
main .shop .right_info .activity .modal-content .modal-title,
main .shop .right_info .activity .modal-content h4 {
  font-size: 17px;
  margin-top: 10px;
  margin: 10px 0 0;
  color: #000000;
  text-align: center;
}
main .shop .right_info .activity .modal-content h4 {
  margin: 20px 0;
  text-align: left;
}
main .shop .right_info .activity .modal-content .modal-body {
  padding-bottom: 0;
}
main .shop .right_info .activity .modal-content .modal-body div {
  height: 48px;
}
main .shop .right_info .activity .modal-content .modal-body div span:nth-child(1) {
  display: inline-block;
  text-align: center;
  width: 68px;
  color: #f63434;
  height: 24px;
  line-height: 24px;
  font-size: 14px;
  font-weight: 400;
  background-color: rgba(246, 52, 52, 0.1);
  margin-right: 16px;
}
main .shop .right_info .activity .modal-content .modal-footer {
  margin: 15px 24px 20px;
  padding: 0;
}
main .shop .right_info .activity .modal-content .coupon {
  display: flex;
  height: 88px;
  border: 1px solid rgba(243, 65, 65, 0.6);
  border-radius: 8px;
  width: 362px;
}
main .shop .right_info .activity .modal-content .coupon .coupon_left {
  width: 100px;
  background-color: #fff3f3;
  border-radius: 8px 0 0 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #f34141;
}
main .shop .right_info .activity .modal-content .coupon .coupon_left div {
  text-align: center;
  font-size: 24px;
}
main .shop .right_info .activity .modal-content .coupon .coupon_left div span {
  font-size: 12px;
}
main .shop .right_info .activity .modal-content .coupon .coupon_left p {
  font-size: 12px;
  text-align: center;
}
main .shop .right_info .activity .modal-content .coupon .coupon_middle {
  width: 184px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  padding-left: 13px;
}
main .shop .right_info .activity .modal-content .coupon .coupon_middle div {
  font-size: 14px;
  font-weight: 400;
  color: #000;
  margin-bottom: 4px;
}
main .shop .right_info .activity .modal-content .coupon .coupon_middle p {
  font-size: 11px;
  font-weight: 400;
  color: #333;
  line-height: 18px;
  opacity: 0.5;
  margin: 0;
}
main .shop .right_info .activity .modal-content .coupon .coupon_right {
  width: 76px;
  line-height: 88px;
  display: flex;
  align-items: center;
}
main .shop .right_info .activity .modal-content .coupon .coupon_right a {
  display: block;
  text-align: center;
  border-left: 1px solid #efefef;
  font-size: 16px;
  color: #F34138;
  width: 100%;
}
main .shop .right_info .info_list .info_list_head {
  color: #f50514;
  font-weight: 400;
  opacity: 1;
}
main .shop .right_info .info_list p,
main .shop .right_info .info_list a {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  color: #fd8326;
  line-height: 24px;
  opacity: 0.8;
}
main .shop .right_info h2 {
  font-size: 36px;
  color: #f34141;
  display: flex;
  align-items: baseline;
}
main .shop .right_info h2 span {
  font-size: 24px;
  margin-right: 3px!important;
}
main .shop .right_info h4 {
  font-size: 16px;
  font-weight: 400;
  margin: 32px 0 12px;
}
main .shop .right_info .power {
  position: relative;
  overflow: hidden;
}
main .shop .right_info .power .pre,
main .shop .right_info .power .next {
  position: absolute;
  z-index: 999;
  top: 0;
  width: 100px;
  height: 100%;
  line-height: 88px;
  cursor: pointer;
}
main .shop .right_info .power .pre {
  left: 0;
  background: linear-gradient(90deg, #fff, hsla(0, 0%, 100%, 0));
  opacity: 0.6;
  visibility: hidden;
}
main .shop .right_info .power .next {
  right: 0;
  text-align: right;
  background: linear-gradient(90deg, hsla(0, 0%, 100%, 0), #fff);
  opacity: 0.6;
}
main .shop .right_info .power ul {
  position: relative;
  display: flex;
  transition: all 0.2s;
}
main .shop .right_info .power ul li {
  flex-shrink: 0;
  width: 120px;
  height: 88px;
  text-align: center;
}
main .shop .right_info .power ul li img {
  width: 32px;
  height: 32px;
}
main .shop .right_info .power ul li p:nth-of-type(1) {
  height: 24px;
  font-weight: 400;
  color: #000;
  line-height: 24px;
}
main .shop .right_info .power ul li p:nth-of-type(2) {
  height: 20px;
  font-size: 12px;
  color: #737373;
  line-height: 20px;
}
main .shop .right_info .choose_button .row {
  margin: 0;
}
main .shop .right_info .choose_button .row .col-md-6 {
  padding: 6px;
  height: 60px;
}
main .shop .right_info .choose_button .row .btn-default {
  width: 100%;
  height: 100%;
}
main .shop .right_info .choose_button .number {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
main .shop .right_info .choose_button .number button {
  width: 40px;
  height: 40px;
  background-color: #f7f8fa;
  border: none;
  font-size: 24px;
  line-height: 12px;
}
main .shop .right_info .choose_button .number button:focus {
  color: #333333;
}
main .shop .right_info .choose_button .number button:active {
  box-shadow: none!important;
}
main .shop .right_info .choose_button .number input {
  width: 43px;
  height: 30px;
  line-height: 30px;
  background-color: transparent;
  border: none;
  box-shadow: none;
  text-align: center;
  font-size: 24px;
  color: #000000;
  padding: 0;
}
main .shop .right_info .choose_button .service h4 {
  color: #333;
  line-height: 24px;
  margin-top: 20px;
}
main .shop .right_info .choose_button .service .service_head {
  display: flex;
  margin: 32px 0 20px;
  justify-content: space-between;
}
main .shop .right_info .choose_button .service .service_head div:nth-child(1) {
  font-size: 16px;
}
main .shop .right_info .choose_button .service .service_head div:nth-child(2) {
  font-size: 12px;
}
main .shop .right_info .choose_button .service .service_head div:nth-child(2) a {
  color: #007aff;
}
main .shop .right_info .choose_button .service .btn span {
  line-height: 24px;
  color: #000000;
}
main .shop .right_info .choose_button .service .btn span:nth-child(3) {
  font-size: 14px;
  opacity: 0.4;
  text-decoration: line-through;
}
main .more_buy {
  margin: 24px 0 40px;
}
main .more_buy .more_buy_head {
  display: flex;
  justify-content: space-between;
}
main .more_buy .more_buy_head .more_buy_left h4 {
  margin: 0;
  height: 30px;
  font-size: 20px;
  font-weight: 400;
  color: #000;
  line-height: 30px;
}
main .more_buy .more_buy_head .more_buy_left h4 span {
  height: 20px;
  font-size: 14px;
  font-weight: 400;
  color: #666;
  line-height: 20px;
  margin-left: 12px;
}
main .more_buy .more_buy_head .more_buy_right {
  display: flex;
}
main .more_buy .more_buy_head .more_buy_right div {
  width: 40px;
  height: 40px;
  text-align: center;
  cursor: pointer;
}
main .more_buy .more_buy_head .more_buy_right .glyphicon {
  line-height: 40px;
  font-size: 18px;
  font-weight: 200;
}
main .more_buy .more_buy_body {
  display: flex;
  align-items: center;
  overflow: hidden;
}
main .more_buy .more_buy_body .more_buy_detail {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 285px;
  height: 285px;
  align-items: center;
  flex-shrink: 0;
  border: 1px solid #ddd;
  border-radius: 6px;
  overflow: hidden;
}
main .more_buy .more_buy_body .more_buy_detail img {
  height: 154px;
  width: 154px;
  margin-top: 27px;
}
main .more_buy .more_buy_body .more_buy_detail div:nth-of-type(1) {
  font-size: 18px;
  color: #666666;
  margin-top: 16px;
}
main .more_buy .more_buy_body .more_buy_detail div:nth-of-type(2) {
  font-size: 20px;
  color: #000000;
  margin-top: 4px;
}
main .more_buy .more_buy_body .more_buy_detail div:nth-of-type(2) span {
  font-size: 16px;
  color: #000000;
  text-decoration: line-through;
  margin-left: 8px;
  opacity: 0.4;
}
main .more_buy .more_buy_body .more_buy_detail:hover {
  border-color: #f34141;
}
main .more_buy .more_buy_body .plus {
  width: 80px;
  height: 40px;
  flex-shrink: 0;
  text-align: center;
  font-size: 34px;
  line-height: 40px;
}
main .more_buy .more_buy_body .more_list {
  display: flex;
}
main .more_buy .more_buy_body .more_list .more_buy_detail {
  margin-right: 20px;
}
main .more_buy .more_buy_body .btn {
  outline: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  border-radius: 0 0 0 8px;
  border: none;
  background-color: #ddd;
  color: white;
}
main .more_buy .more_buy_body .btn:focus {
  background: linear-gradient(90deg, #f34141, #fb6332);
}
main .summary {
  padding: 40px 0 64px;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}
main .summary .summary_info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
main .summary .summary_info .count .money span {
  color: #f63434;
  font-weight: 400;
}
main .summary .summary_info .count .money span:nth-child(1) {
  font-size: 24px;
}
main .summary .summary_info .count .money span:nth-child(2) {
  font-size: 32px;
}
main .summary .summary_info .count .product_sum span {
  font-size: 16px;
  color: #000000;
}
main .summary .summary_info .buy_car .btn,
main .summary .summary_info .buy_car .btn-default {
  width: 224px;
  height: 66px;
  font-size: 18px;
  border-radius: 66px!important;
  margin-left: 16px;
  outline: none;
  background-color: transparent;
}
main .summary .summary_info .buy_car .btn:nth-child(1),
main .summary .summary_info .buy_car .btn-default:nth-child(1) {
  color: black;
}
main .summary .summary_info .buy_car .btn:nth-child(1):hover,
main .summary .summary_info .buy_car .btn-default:nth-child(1):hover {
  background-color: transparent;
  border-color: #ccc;
}
main .summary .summary_info .buy_car .btn:nth-child(2),
main .summary .summary_info .buy_car .btn-default:nth-child(2) {
  color: white;
  background-color: #f34141;
}
main .summary .tags {
  display: flex;
}
main .summary .tags div {
  margin-right: 24px;
  color: #666666;
}
main hr {
  margin: 0;
}
main .nav_shop {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
main .nav_shop .shop_active {
  border-bottom: 2px solid #f63434;
}
main .nav_shop nav {
  display: flex;
  justify-content: center;
}
main .nav_shop nav a {
  display: block;
  margin: 0 16px;
  height: 62px;
  line-height: 62px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.54);
}
main .nav_shop .nav_body img {
  width: 100%;
}
main .comment .comment_head .comment_head_conut {
  display: inline-block;
  padding-right: 30px;
  border-right: 1px solid rgba(0, 0, 0, 0.12);
  margin: 36px 0;
}
main .comment .comment_head .satisfaction {
  height: 38px;
  font-size: 32px;
  font-weight: 500;
  color: #f34141;
  line-height: 38px;
}
main .comment .comment_head span {
  vertical-align: middle;
  font-size: 16px;
  font-weight: 400;
  color: #000;
  line-height: 38px;
  margin-left: 8px;
}
main .comment .comment_head_ul {
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
main .comment .comment_head_ul .conment_head_ul_left {
  display: flex;
}
main .comment .comment_head_ul .conment_head_ul_left span {
  margin: 0;
  color: #999999;
}
main .comment .comment_head_ul .conment_head_ul_left div {
  margin-right: 32px;
  cursor: pointer;
}
main .comment .comment_head_ul .conment_head_ul_left .comment_active span {
  color: #000000;
}
main .comment .comment_head_ul .conment_head_ul_right .btn {
  border: none;
}
main .comment .comment_head_ul .conment_head_ul_right .dropdown-toggle {
  box-shadow: none;
  background-color: transparent;
}
main .comment .comment_head_ul .conment_head_ul_right .dropdown-toggle:hover {
  background-color: transparent;
  color: #f63434;
}
main .comment .comment_head_ul .conment_head_ul_right .dropdown-toggle:focus {
  background-color: transparent;
}
main .comment .comment_head_ul .conment_head_ul_right .dropdown-menu {
  min-width: 0;
}
main .comment .comment_head_ul .conment_head_ul_right .dropdown-menu .btn {
  width: 96px;
  height: 48px;
}
main .comment .comment_head_ul .conment_head_ul_right .dropdown-menu div {
  line-height: 36px;
}
main .comment .comment_li {
  display: flex;
  margin-top: 40px;
  padding: 0 0 40px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.04);
}
main .comment .comment_li .comment_left {
  width: 320px;
  display: flex;
}
main .comment .comment_li .comment_left img {
  width: 60px;
  height: 60px;
  border-radius: 60px;
  overflow: hidden;
}
main .comment .comment_li .comment_left div {
  margin-left: 12px;
  margin-top: 10px;
}
main .comment .comment_li .comment_left div p {
  margin: 0;
}
main .comment .comment_li .comment_left div .user_name {
  width: 112px;
  height: 22px;
  font-size: 16px;
  color: #000;
  line-height: 22px;
}
main .comment .comment_li .comment_left div .time {
  margin-top: 4px;
  height: 20px;
  font-size: 12px;
  font-weight: 400;
  color: #343a40;
  line-height: 20px;
}
main .comment .comment_li .comment_right .score img {
  width: 16px;
  height: 16px;
}
main .comment .comment_li .comment_right .content {
  font-size: 16px;
  margin: 12px 0 16px;
}
main .comment .comment_li .comment_right .show_pic img {
  width: 80px;
  height: 80px;
  margin-right: 8px;
}
main .comment .comment_li .comment_right .reply {
  display: flex;
  margin-top: 24px;
  padding: 10px 18px;
  background-color: rgba(0, 0, 0, 0.04);
}
main .comment .comment_li .comment_right .reply .reply_left {
  font-size: 16px;
  flex-shrink: 0;
}
main .comment .comment_li .comment_right .reply .reply_left img {
  width: 24px;
  height: 24px;
  margin-right: 4px;
}
main .comment .comment_li .comment_right .reply .reply_right {
  font-size: 16px;
  color: #666666;
  line-height: 24px;
}
main .footer_nav {
  margin: 32px 0 60px;
}
main .footer_nav li {
  line-height: 44px;
}
main .footer_nav .page {
  display: flex;
  justify-content: flex-end;
  position: relative;
}
main .footer_nav .btn,
main .footer_nav .btn-default {
  width: 34px;
  height: 34px;
  border-radius: 34px!important;
  padding: 0;
  margin: 5px;
  border-color: transparent;
}
main .footer_nav .btn:hover,
main .footer_nav .btn-default:hover {
  background-color: transparent;
  border-color: transparent;
}
main .footer_nav .pre,
main .footer_nav .next {
  border-radius: 34px!important;
  border-color: #000000;
}
main .footer_nav .pre:hover,
main .footer_nav .next:hover {
  border-color: #000000;
}
.hotRecommend {
  background-color: #f7f8fa;
  padding: 60px 0 120px;
  min-height: 1200px;
}
.hotRecommend .rec_head,
.hotRecommend .rec_foot {
  display: flex;
  justify-content: center;
}
.hotRecommend .rec_head div,
.hotRecommend .rec_foot div {
  flex-shrink: 0;
  line-height: 41px;
  margin: 0 32px;
}
.hotRecommend hr {
  width: 100%;
}
.hotRecommend .rec_head {
  font-size: 16px;
}
.hotRecommend .rec_foot {
  margin-top: 32px;
  color: #999;
}
