@charset 'utf-8';
@color-red:#f63434;

.btn {
	font-size: 16px;
}

.col-md-6 {
	padding: 0 6px!important;
	margin-bottom: 12px;
}

.opacity1 {
	opacity:1!important;
}

#myModal1 {
	.modal-dialog {
		margin-top: 200px;
	}
	h4 {
		text-align: center;
	}
	.modal-body {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 12px;
	}
	button {
		background: red;border-radius: 29px;
		font-size: 16px;
		font-weight: 500;
		color: #fff;width: 136px;
		margin: 0;
		height: 48px;
	}
}

main {
	margin-top: 160px;
	.container {
		width: 1264px;
		margin: auto;
		padding: 0;
	}
	.shop {
		.btn:hover,.btn-default:hover {
			background-color: transparent;
			color: #f50514;
			border-color: #f50514;
			span {
				color: #f50514!important;
			}
		}
		
		.btn:focus,.btn-default:focus {
			outline: none;
			background-color: transparent;
			border-color: #f50514;
			color: #f50514;
			span {
				color: #f50514!important;
			}
		}
		
		display: flex;
		justify-content: space-between;
		border-bottom: 1px solid rgba(0,0,0,.12);
		padding-bottom: 40px;
		.left_pic {
			overflow: hidden;
			width: 600px;
			.lt,.gt {
				position: absolute;
				z-index: 999;
				top: 0;
				line-height: 90px;
				width: 45px;
				height: 90px;
				background-color: white;
				text-align: center;
				cursor: pointer;
				user-select: none;
			}
			.lt {
				left: -45px;
				opacity: .6;
			}
			.gt {
				right: -45px;
				display: block;
			}
			.ul_big {
				display: flex;
				position: relative;
				li{
					flex-shrink: 0;
					width: 600px;
					height: 600px;
				}
				img{
					width: 100%;
					height: 100%;
				}
			}
			#ul_width {
				position: relative;
				margin: 24px auto 0;
			}
			.ul_small {
				overflow: hidden;
				ul {
					width: 510px;
					height: 90px;
					display: flex;
				}
				#smallPic{
					position: relative;
					transition: all .3s;
				}
				li {
					opacity: .6;
				}
				
				img {
					width: 90px;
					height: 90px;
					margin-right: calc(-90px + (510px / 4));
					cursor: pointer;
				}
			}
			
			
			
		}
	
		.right_info {
			width: 600px;
			h3{
				font-size: 28px;
				font-weight: 400;
				color: #000;
				margin: 0 0 20px;
				line-height: 42px;
			}
			.activity {
				display: flex;
				justify-content: space-between;
				margin-bottom: 16px;
				.activity_left {
					display: flex;
					.activity_info {
						padding: 0 6px;
						border-radius: 3px;
						height: 24px;
						font-size: 14px;
						font-weight: 400;
						color: @color-red;
						line-height: 24px;
						background: #fff3f3;
						margin-right: 10px;
						border:none ;
					}
				}
				.details {
					font-size: 14px;
					line-height: 24px;
					font-weight: 500;
					color: @color-red;
					cursor: pointer;
					background-color: transparent;
					border: transparent;
				}
				
				.modal-content {
					 .modal-title ,h4{
						font-size: 17px;
						margin-top: 10px;
						margin: 10px 0 0;
						color: #000000;
						text-align: center;
					}
					h4 {
						margin: 20px 0;
						text-align: left;
					}
					
					.modal-body {
						padding-bottom: 0;
						div {
							height: 48px;
							span {
								&:nth-child(1){
									display: inline-block;
									text-align: center;
									width: 68px;
									color:#f63434;
									height: 24px;
									line-height: 24px;
									font-size: 14px;
									font-weight: 400;
									background-color: rgba(246,52,52,.1);
									margin-right: 16px;
								}
							}
						}
					}
					
					.modal-footer {
						margin: 15px 24px 20px;
						padding: 0;
					}
					.coupon {
						display: flex;
						height: 88px;
						border: 1px solid rgba(243,65,65,.6);
						border-radius: 8px;
						width: 362px;
						.coupon_left {
							width: 100px;
							background-color: #fff3f3;
							border-radius: 8px 0 0 8px;;
							display: flex;
							flex-direction: column;
							justify-content: center;
							color: #f34141;
							div {
								text-align: center;
								font-size: 24px;
								span {
									font-size: 12px;
								}
							}
							p {
								font-size: 12px;
								text-align: center;
							}
						}
						.coupon_middle {
							width: 184px;
							display: flex;
							flex-direction: column;
							justify-content: center;
							text-align: left;
							padding-left: 13px;
							div {
								font-size: 14px;
								font-weight: 400;
								color: #000;
								margin-bottom: 4px;
							}
							p {
								font-size: 11px;
								font-weight: 400;
								color: #333;
								line-height: 18px;
								opacity: .5;
								margin: 0;
							}
						}
						.coupon_right {
							width: 76px;
							line-height: 88px;
							display: flex;
							align-items: center;
							a {
								display: block;
								text-align: center;
								border-left: 1px solid #efefef;
								font-size: 16px;
								color: #F34138;
								width: 100%;
								
							}
						}
					}
				
				}
				
			}
		
			.info_list {
				.info_list_head {
					color: #f50514;
					font-weight: 400;
					opacity: 1;
				}
				p ,a{
					margin: 0;
					font-size: 14px;
					font-weight: 400;
					color: #fd8326;
					line-height: 24px;
					opacity: .8;
				}
			}
			h2 {
				font-size: 36px;
				color: #f34141;
				display: flex;
				align-items: baseline;
				span {
					font-size: 24px;
					margin-right: 3px!important;
				}
			}
		
			h4 {
				font-size: 16px;
				font-weight: 400;
				margin: 32px 0 12px;
			}
		
			.power {
				position: relative;
				overflow: hidden;
				.pre,.next {
					position: absolute;
					z-index: 999;
					top: 0;
					width: 100px;
					height: 100%;
					line-height: 88px;
					cursor: pointer;
				}
				.pre {
					left: 0;
					background:linear-gradient(90deg,#fff,hsla(0,0%,100%,0));
					opacity: .6;
					visibility: hidden;
				}
				.next {
					right: 0;
					text-align: right;
					background: linear-gradient(90deg,hsla(0,0%,100%,0),#fff);
					opacity: .6;
				}
				
				ul {
					position: relative;
					display: flex;
					transition: all .2s;
					li{
						flex-shrink: 0;
						width: 120px;
						height: 88px;
						text-align: center;
						img {
							width: 32px;
							height: 32px;
						}
						p {
							&:nth-of-type(1){
								height: 24px;
								font-weight: 400;
								color: #000;
								line-height: 24px;
							}
							&:nth-of-type(2){
								height: 20px;
								font-size: 12px;
								color: #737373;
								line-height: 20px;
							}
							
						}
					}
					
				}
				
			}
		
			.choose_button {
				.row {
					margin: 0;
					.col-md-6 {
						padding: 6px;
						height: 60px;
					}
					
					.btn-default {
						width: 100%;
						height: 100%;
					}
					
				}
				.number {
					display: flex;
					align-items: center;
					margin-bottom: 30px;
					button {
						width: 40px;
						height: 40px;
						background-color: #f7f8fa;
						border: none;
						font-size: 24px;
						line-height: 12px;
						&:focus {
							color: #333333;	
						}
						&:active {
							box-shadow: none!important;
						}
					}
					input {
						width: 43px;
						height: 30px;
						line-height: 30px;
						background-color: transparent;
						border: none;
						box-shadow: none;
						text-align: center;
						font-size: 24px;
						color: #000000;
						padding: 0;
						
					}
				}
			
				.service {
					h4 {
						color: #333;
						line-height: 24px;
						margin-top: 20px;
					}
					.service_head {
						display: flex;
						margin: 32px 0 20px;
						justify-content: space-between;
						div {
							&:nth-child(1){
								font-size: 16px;
							}
							&:nth-child(2){
								font-size: 12px;
								a {
									color: rgb(0, 122, 255);
								}
							}
						}
					}
					
					.btn {
						span {
							line-height: 24px;
							color: #000000;
							&:nth-child(3){
								font-size: 14px;
								opacity: .4;
								text-decoration: line-through;
							}
						}
					}
					
				}
			
			}
		
		}
		
	}

	// more buy
	.more_buy {
		margin: 24px 0 40px;
		.more_buy_head {
			display: flex;
			justify-content: space-between;
			.more_buy_left {
				h4 {
					margin: 0;
					height: 30px;
					font-size: 20px;
					font-weight: 400;
					color: #000;
					line-height: 30px;
					span {
						height: 20px;
						font-size: 14px;
						font-weight: 400;
						color: #666;
						line-height: 20px;
						margin-left: 12px;
					}
				}
			}
			.more_buy_right {
				display: flex;
				div {
					width: 40px;
					height: 40px;
					text-align: center;
					cursor: pointer;
				
				}
				.glyphicon {
					line-height: 40px;
					font-size: 18px;
					font-weight: 200;
				}
			}
		}
		
		.more_buy_body {
			display: flex;
			align-items: center;
			overflow: hidden;
			.more_buy_detail {
				position: relative;
				display: flex;
				flex-direction: column;
				width: 285px;
				height: 285px;
				align-items: center;
				flex-shrink: 0;
				border: 1px solid #ddd;
				border-radius: 6px;
				overflow: hidden;
				img {
					height: 154px;
					width: 154px;
					margin-top: 27px;
				}
				div {
					&:nth-of-type(1){
						font-size: 18px;
						color: #666666;
						margin-top: 16px;
					}
					&:nth-of-type(2){
						font-size: 20px;
						color: #000000;
						margin-top: 4px;
						span {
							font-size: 16px;
							color: #000000;
							text-decoration: line-through;
							margin-left: 8px;
							opacity: .4;
						}
					}
				}
			
				&:hover {
					border-color:#f34141;
				}
			}
			.plus {
				width: 80px;
				height: 40px;
				flex-shrink: 0;
				text-align: center;
				font-size: 34px;
				line-height: 40px;
			}
			
			.more_list {
				display: flex;
				.more_buy_detail {
					margin-right: 20px;
				}
			}
			
			.btn {
				outline: none;
				position: absolute;
				top: 0;
				right: 0;
				width: 40px;
				height: 40px;
				border-radius: 0 0 0 8px;
				border: none;
				background-color: #ddd;
				color: white;
				&:focus {
					background: linear-gradient(90deg,#f34141,#fb6332);
				}

			}
			
		}

		
	}

	// summary 
	.summary {
		padding: 40px 0 64px;
		border-top: 1px solid rgba(0,0,0,.12);
		.summary_info {
			display: flex;
			justify-content: space-between;
			margin-bottom: 20px;
			.count {
				.money {
					span {
						color: @color-red;
						font-weight: 400;
						&:nth-child(1){
							font-size: 24px;
							
						}
						&:nth-child(2){
							font-size: 32px;
						}
					}
				}
				.product_sum {
					span{
						font-size: 16px;
						color: #000000;
					}
				}
			}
			.buy_car {
				.btn ,.btn-default{
					width: 224px;
					height: 66px;
					font-size: 18px;
					border-radius: 66px!important;
					margin-left: 16px;
					outline: none;
					background-color: transparent;
					&:nth-child(1){
						color: black;
						&:hover {
							background-color: transparent;
							border-color: #ccc;
						}
					}
					&:nth-child(2){
						color: white;
						background-color: #f34141;
					}
					
				}
				
			}
		}
		.tags {
			display: flex;
			div {
				margin-right: 24px; 
				color: #666666;
			}
		}
	}
	hr {
		margin: 0;
	}
	.nav_shop {
		border-bottom: 1px solid rgba(0, 0, 0, 0.12);
		.shop_active {
			border-bottom: 2px solid @color-red;
		}
		nav {
			display: flex;
			justify-content: center;
			a {
				display: block;
				margin: 0 16px;
				height: 62px;
				line-height: 62px;
				cursor: pointer;
				color: rgba(0,0,0,.54);
			}
		}
		.nav_body {
			img {
				width: 100%;
			}
		}
		
	}
	
	
	.comment {
		.comment_head {
			.comment_head_conut{
				display: inline-block;
				padding-right: 30px;
				border-right: 1px solid rgba(0, 0, 0, 0.12);
				margin: 36px 0;
			}
			.satisfaction {
				height: 38px;
				font-size: 32px;
				font-weight: 500;
				color: #f34141;
				line-height: 38px;
			}
			span {
				vertical-align: middle;
				font-size: 16px;
				font-weight: 400;
				color: #000;
				line-height: 38px;
				margin-left: 8px;
			}
		}
	
		.comment_head_ul {
			display: flex;
			justify-content: space-between;
			padding: 12px 0;
			border-top: 1px solid rgba(0, 0, 0, 0.12);
			border-bottom: 1px solid rgba(0, 0, 0, 0.12);
			.conment_head_ul_left {
				display: flex;
				span{
					margin: 0;
					color: #999999;
				}
				div {
					margin-right: 32px;
					cursor: pointer;
				}
				.comment_active {
					span {
						color: #000000;
					}
				}
			}
			
			.conment_head_ul_right {
				.btn {
					border: none;
				}
				.dropdown-toggle {
					box-shadow: none;
					background-color: transparent;
					&:hover {
						background-color: transparent;
						color: @color-red;
					}
					&:focus {
						background-color: transparent;
					}
				}
				.dropdown-menu {
					min-width: 0;
					.btn {
						width: 96px;
						height: 48px;
					}
					div {
						line-height: 36px;
					}
				}
			}
		}
		
		.comment_li {
			display: flex;
			margin-top: 40px;
			padding: 0 0 40px;
			border-bottom: 1px solid rgba(0,0,0,.04);
			.comment_left {
				width: 320px;
				display: flex;
				// align-items: top;
				img {
					width: 60px;
					height: 60px;
					border-radius: 60px;
					overflow: hidden;
				}
				div {
					margin-left: 12px;
					margin-top: 10px;
					p {
						margin: 0;
					}
					.user_name {
						width: 112px;
						height: 22px;
						font-size: 16px;
						color: #000;
						line-height: 22px;
					}
					.time {
						margin-top: 4px;
						height: 20px;
						font-size: 12px;
						font-weight: 400;
						color: #343a40;
						line-height: 20px;
					}
				}
			}
		
			.comment_right {
				.score {
					img{
						width: 16px;height: 16px;
					}
				}
				.content {
					font-size: 16px;
					margin: 12px 0 16px;
				}
				.show_pic {
					img {
						width: 80px;height: 80px;
						margin-right: 8px;
					}
				}
				
				.reply {
					display: flex;
					margin-top: 24px;
					padding: 10px 18px;
					background-color: rgba(0,0,0,.04);
					.reply_left {
						font-size: 16px;
						flex-shrink: 0;
						img {
							width: 24px;height: 24px;
							margin-right: 4px;
						}
					}
					.reply_right {
						font-size: 16px;
						color: #666666;
						line-height: 24px;
					}
				}
			}
		
		}
		
	}
	
	.footer_nav {
		margin: 32px 0 60px;
		li {
			line-height: 44px;
		}

		.page {
			display: flex;
			justify-content: flex-end;
			position: relative;
		}
		
		.btn ,.btn-default{
			width: 34px;
			height: 34px;
			border-radius: 34px!important;
			padding: 0;
			margin: 5px;
			border-color: transparent;
			&:hover {
				background-color: transparent;
				border-color: transparent;
			}
		}
		.pre,.next {
			border-radius: 34px!important;
			border-color: #000000;
			&:hover {
				border-color: #000000;
			}
		}
		
	}

}
.hotRecommend {
	background-color: rgb(247, 248, 250);
	padding: 60px 0 120px;
	min-height: 1200px;
	.rec_head ,.rec_foot{
		display: flex;
		justify-content: center;
		div {
			flex-shrink: 0;
			line-height: 41px;
			margin: 0 32px;
		}
	}
	hr {
		width: 100%;
	}
	.rec_head {
		font-size: 16px;
	}
	.rec_foot {
		margin-top: 32px;
		color: #999;
	}
}
