.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus,
.btn:hover,
.btn.active {
  outline: none;
}
.btn-group.open .dropdown-toggle {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-color: transparent!important;
  outline: none;
}
.bootstrap-select .dropdown-toggle:focus,
.bootstrap-select > select.mobile-device:focus + .dropdown-toggle {
  outline: 0;
  outline-color: #f7f7f7 !important;
}
.btn-default:hover,
.btn-default {
  background-color: transparent;
  border-color: none;
}
.form-control {
  height: 45px;
  padding: 10px 15px;
  background-color: #f7f7f7 !important;
  border: none;
  border-radius: 9px !important;
  overflow: hidden;
}
.form-control:focus {
  box-shadow: none;
}
.form-control::-webkit-input-placeholder {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.3);
}
.bootstrap-select .dropdown-toggle:focus,
.bootstrap-select > select.mobile-device:focus + .dropdown-toggle {
  outline: none!important;
  outline-color: none!important;
}
.dropdown-menu {
  padding: 0;
  margin: 0;
}
.dropdown-menu .bs-searchbox {
  padding: 0;
}
.dropdown-menu a {
  padding: 0;
}
.btn-color-green {
  background-color: #2Ad181;
  cursor: pointer!important;
}
.btn-color-gray {
  background-color: rgba(0, 0, 0, 0.15);
  cursor: not-allowed !important;
}
.btn-success {
  border: 0;
}
.btn-success:hover {
  background-color: #5cb85c;
}
.btn-success-no {
  opacity: 0.3 !important;
}
.btn-success-yes {
  opacity: 1!important;
}
header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 78px;
  width: 894px;
  margin: auto;
}
header a {
  color: #7f7f7f;
}
header a:hover {
  color: #7f7f7f;
  opacity: 0.5;
  text-decoration: none;
}
header .btn {
  color: #7f7f7f;
}
header .btn:hover {
  color: #7f7f7f;
  opacity: 0.5;
}
header button {
  padding: 0!important;
  border: none!important;
  margin-left: 27px!important;
}
header .dropdown-menu {
  min-width: 110px;
  transform: translate(-15px, 10px);
}
header .dropdown-menu a {
  text-align: center;
  line-height: 40px;
  padding: 5px 20px;
  color: #7f7f7f;
}
main {
  width: 400px;
  margin: 80px auto 0;
}
main h1 {
  font-size: 25px;
  text-align: center;
  font-weight: 500;
  color: black;
  margin-bottom: 30px;
}
main .getcountry {
  display: flex;
  width: 100%;
  height: 45px;
  color: black;
  align-items: center;
  background-color: #f7f7f7;
  border-radius: 9px;
}
main .getcountry > div {
  padding: 0 15px;
  font-size: 12px;
}
main .getcountry .border-right {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  height: 100%;
  line-height: 45px;
}
main .getcountry .bootstrap-select {
  flex-grow: 1;
  padding: 0;
}
main .getcountry .dropdown-toggle {
  padding-left: 10px;
}
main .getcountry .dropdown-toggle,
main .getcountry .filter-option,
main .getcountry .filter-option-inner {
  border: none;
  background-color: #f7f7f7;
}
main .getcountry .filter-option-inner-inner {
  background-color: #f7f7f7;
}
main .getcountry .dropdown-menu {
  background-color: #f7f7f7;
}
main .getcountry .dropdown-menu a {
  height: 40px;
  line-height: 34px;
}
main .getcountry .dropdown-menu a:hover {
  color: #7f7f7f;
  opacity: 0.5;
  text-decoration: none;
}
main .getcountry .btn:focus {
  box-shadow: none;
  border: none;
  outline-color: none!important;
}
main .nocode {
  display: none;
}
main .nocode .input-group {
  display: flex;
  flex-direction: row-reverse;
}
main .nocode a {
  font-size: 12px;
  color: #2ad181;
  text-decoration: none;
  transition: all 0.2s;
}
main .nocode a:hover {
  opacity: 0.5;
}
main .input-group,
main .knew {
  margin-bottom: 10px;
  width: 100%;
}
main .info {
  color: rgba(0, 0, 0, 0.3);
  padding-bottom: 18px;
  font-size: 12px;
}
main .error-number {
  margin-bottom: 5px;
  color: #ec5b66;
  font-size: 12px;
}
main .verification .code {
  width: calc(100% - 9px);
}
main .verification .btn {
  padding: 0 8px;
  width: 90px;
  height: 45px;
  text-align: center;
  color: white;
  border-radius: 9px !important;
  font-size: 12px;
  border: none;
}
main .verification .btn-default:hover {
  background-color: none!important;
}
main .password {
  position: relative;
}
main .password .glyphicon-eye-close {
  z-index: 999;
  position: absolute;
  right: 11px;
  top: 50%;
  transform: translateY(-50%);
  color: #C7C7C7;
  cursor: pointer;
  font-size: 16px;
}
main .knew {
  padding-left: 5px;
}
main .knew input[type='checkbox'] {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 0;
  line-height: 18px;
  border: 5px solid red;
  border-radius: 10px;
  background-color: red;
  transform: translateY(1px);
}
main .knew a,
main .knew span {
  vertical-align: top;
  line-height: 18px;
  font-size: 12px;
}
main .knew a {
  color: #2ad181;
  text-decoration: none;
  transition: all 0.2s;
}
main .knew a:hover {
  opacity: 0.5;
}
main .registered {
  margin-top: 27px;
  display: flex;
}
main .registered .btn {
  width: 100px;
  height: 39px;
  opacity: 0.3;
  color: #fff;
  margin: auto;
  cursor: not-allowed;
  background-color: #2ad181;
  border-radius: 9px;
}
main .code_error {
  display: none;
  user-select: none;
  padding-top: 20px;
  font-size: 12px;
  color: #EC5B66;
  text-align: center;
}
footer {
  padding: 20px;
  text-align: center;
  font-size: 12px;
}
footer span {
  color: #9b9b9b;
}
