@border-radius: 9px;
@color-f7: #f7f7f7;
@color-9b: #9b9b9b;


.btn.active:focus,.btn.focus,
.btn:active.focus,.btn:active:focus,
.btn:focus,.btn:hover,.btn.active
{ 
	outline:none;
	// background-color:white!important;
}
.btn-group.open .dropdown-toggle {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
	background-color:transparent!important;
	outline: none;
}

.bootstrap-select .dropdown-toggle:focus, .bootstrap-select>select.mobile-device:focus+.dropdown-toggle {
	outline: 0;
	outline-color: @color-f7  !important;
}

.btn-default:hover , .btn-default{
    background-color: transparent;
    border-color: none;
}

.form-control {
	height: 45px;
	padding: 10px 15px;
	background-color: @color-f7!important;
	border: none;
	border-radius: @border-radius!important;
	overflow: hidden;
	&:focus {
		box-shadow: none;
	}
	&::-webkit-input-placeholder {
		font-size: 12px;
		color: rgba(0,0,0,.3);
	}
}

.bootstrap-select .dropdown-toggle:focus, .bootstrap-select > select.mobile-device:focus + .dropdown-toggle {
    outline: none!important;
    outline-color: none!important;
}

.dropdown-menu {
	padding: 0;
	margin: 0;
	.bs-searchbox {
		padding: 0;
	}
	a {
		padding: 0;
	}
	
}

.btn-color-green {
	background-color: #2Ad181;
	cursor: pointer!important;
}
.btn-color-gray {
	background-color: rgba(0, 0, 0, 0.15);
	cursor: not-allowed!important;
}

.btn-success {
	border: 0;
}
.btn-success:hover {
	background-color: #5cb85c;
}

.btn-success-no {
	opacity: .3!important;
}
.btn-success-yes {
	opacity: 1!important;
}





header {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	height: 78px;
	width: 894px;
	margin: auto;
	a {
		color: #7f7f7f;
		&:hover {
			color: #7f7f7f;
			opacity: .5;
			text-decoration: none;
		}
	}
	.btn {
		color: #7f7f7f;
		&:hover {
			color: #7f7f7f;
			opacity: .5;
		}
	}
	button {
		padding: 0!important;
		border: none!important;
		margin-left: 27px!important;
	}
	
	.dropdown-menu {
		min-width: 110px;
		transform: translate(-15px,10px);
		a {
			text-align: center;
			line-height: 40px;
			padding: 5px 20px;
			color: #7f7f7f;
		}
	}
}


main {
	width: 400px;
	margin:80px auto 0;
	h1 {
		font-size: 25px;
		text-align: center;
		font-weight: 500;
		color: black;
		margin-bottom: 30px;
	}
	.getcountry {
		display: flex;
		width: 100%;
		height: 45px;
		color: black;
		align-items: center;
		background-color: @color-f7;
		border-radius: @border-radius;
		> div {
		 	padding: 0 15px;
		 	font-size: 12px;
		 }
		.border-right {
			border-right: 1px solid rgba(0,0,0,.1);
			height: 100%;
			line-height: 45px;
		}
		.bootstrap-select {
			flex-grow: 1;
			padding: 0;
		}
		.dropdown-toggle {
			padding-left: 10px;
		}
		
		.dropdown-toggle,.filter-option,.filter-option-inner{
			border: none;
			background-color: @color-f7;
		}
		.filter-option-inner-inner {
			background-color: @color-f7;
		}
		.dropdown-menu {
			background-color: @color-f7;
			a {
				height: 40px;
				line-height: 34px;
				&:hover {
					color: #7f7f7f;
					opacity: .5;
					text-decoration: none;
				}
			}
		}
		.btn {
			&:focus{
				box-shadow: none;
				border: none;
				outline-color: none!important;
			}
		}
	}
	
	.nocode {
		display: none;
		.input-group {
			display: flex;
			flex-direction: row-reverse;
		}
		a {
			font-size: 12px;
			color: #2ad181;
			text-decoration: none;
			transition: all .2s;
			&:hover{
				opacity: .5;
				
			}
		}
	}
	
	.input-group,.knew{
		margin-bottom: 10px;
		width: 100%;
	}
	.info {
		color: rgba(0,0,0,.3);
		padding-bottom: 18px;
		font-size: 12px;
	}
	.error-number {
		margin-bottom: 5px; 
		color: #ec5b66;
		font-size: 12px;
	}
	
	
	.verification {
		.code {
			width: calc(100% - 9px);
		}
		.btn {
			padding: 0 8px;
			width: 90px;
			height: 45px;
			text-align: center;
			// background-color: rgba(0,0,0,.15);
			color: white;
			border-radius:@border-radius!important;
			font-size: 12px;
			border: none;
		}
		.btn-default:hover{
			background-color: none!important;
		}
	}
	.password {
		position: relative;
		.glyphicon-eye-close {
			z-index: 999;
			position: absolute;
			right: 11px;
			top: 50%;
			transform: translateY(-50%);
			color: #C7C7C7;
			cursor: pointer;
			font-size: 16px;
		
		}
	}
	
	
	.knew {
		padding-left: 5px;
		input[type='checkbox'] {
			display: inline-block;
			width: 15px;
			height: 15px;
			margin: 0;
			line-height: 18px;
			border: 5px solid red;
			border-radius: 10px;
			background-color: red;
			transform: translateY(1px);
		}
		a,span {
			vertical-align: top;
			line-height: 18px;
			font-size: 12px;
		}
		a {
			color: #2ad181;
			text-decoration: none;
			transition: all .2s;
			&:hover{
				opacity: .5;
				
			}
		}
	}
	
	.registered {
		margin-top: 27px;
		display: flex;
		// justify-content: center;
		.btn {
			width: 100px;
			height: 39px;
			opacity: .3;
			color: #fff;
			margin: auto;
			cursor: not-allowed;
			background-color: #2ad181;
			border-radius: 9px;
		}
	}
	
	.code_error {
		display: none;
		user-select: none;
		padding-top: 20px;
		font-size: 12px;
		color: #EC5B66;
		text-align: center;
	}
}


footer {
	padding: 20px;
	text-align: center;
	font-size: 12px;
	span{
		color: @color-9b;
	}
}