body {
	background: rgb(250, 250, 250);
}
.row {
	margin: 0;
}

.col-md-5,.col-md-2,.col-md-1 {
	padding: 0;
}
.btn:hover,.btn-default:hover {
	background-color: transparent;
	border-color: transparent;
}
// .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
// 	outline: none;
// }
.btn:focus ,.btn:active:focus{
	outline: none;
	box-shadow: none;
	background-color: transparent;
}


// 自设计checkbox before 为背景 after被里面的勾
.checkbox-diy {
	/* css 复选框 */
	input[type=checkbox] {
		position: relative;
		width: 16px;
		height: 16px;
		margin-right: 8px;
	}

	input[type=checkbox]::after {
		position: absolute;
		top: 0;
		background-color: #fff;
		color: #fff;
		width: 16px;
		height: 16px;
		display: inline-block;
		// visibility: visible;
		text-align: center;
		content: '';
		border-radius: 2px;
		border: 1px solid rgba(0,0,0,.54);
	}

	input[type=checkbox]:checked::after {
		content: "";
		background-color: red;
		border-color: red;
	}

	input[type=checkbox]:checked::before {
		content: '';
		position: absolute;
		top: 1px;
		left: 5px;
		width: 7px;
		height: 10px;
		border: solid white;
		border-width: 0 2px 2px 0;
		transform: rotate(45deg);
		z-index: 1;
	}
	
}

main {
	margin-top: 120px;
	padding: 8px 0;
	margin-bottom: 128px;
	.allGoods {
		background-color: #fff;
		display: flex;
		color: rgba(0,0,0,.54);
		height: 62px;
		background-color: #fff;
		font-size: 14px;
		padding: 0 26px;
		div {
			margin: 0 16px;
			cursor: pointer;
			line-height: 62px;
			user-select: none;
			letter-spacing: .09em;
			
		}
		.active {
			color: #f34141;
			border-bottom: 4px solid #eb0028;
		}
	}
	
	.table-info {
		width: 132px;
		margin-right: 24px;
		flex-shrink: 0;
	}
	
	// 商品信息头
	.goodsInfo {
		background-color: #fff;
		display: flex;
		color: rgba(0,0,0,.54);
		height: 62px;
		background-color: #fff;
		font-size: 16px;
		padding: 0 33px;
		height: 64px;
		margin-top: 12px;
		line-height: 64px;
		color: #343a40;
		
		.row {
			width: 100%;
			font-size: 16px;
			.col {
				text-align: center;
				&:nth-child(2){
					text-align: left;
				}
			}
		}
	}

	// 商品列表
	.goodsList {
		padding: 0 0 19px;
		box-sizing: content-box;
		.list {
			background-color: #fff;
			display: flex;
			padding-top: 24px;
			height: 124px;
			margin-top: 12px;
			padding:24px 28px;
			.table-info {
				display: flex;
				align-items: center;
				justify-content: center;
				img {
					width: 100px;
					height: 100px;
				}
				
			}
			.row {
				width: 100%;
				font-size: 18px;
				height: 44px;
				display: flex;
				align-items: center;
				.col {
					text-align: center;
					&:nth-child(-n + 2){
						text-align: left;
					}
				}
				.product_info {
					font-size: 16px;
					font-weight: 500;
					line-height: 22px;
					a {
						color: #343a40;
						font-weight: 400;
					}
				}
				
				.changeNmuber {
					display: flex;
					align-items: center;
					justify-content: center;
					button {
						width: 24px;
						height: 24px;
						text-align: center;
						line-height: 24px;
						padding: 0;
						color: rgba(0,0,0,.3);
						background-color: #f7f8fa;
						border: none;
						border-radius: 6px;
						font-size: 18px;
					}
					input {
						width: 32px;
						height: 17px;
						border: none;
						text-align: center;
						padding: 0;
						font-size: 12px;
					}
				}
				.limit {
					color: #343a40;
					margin-top: 4px;
					opacity: .5;
					font-size: 14px;
				}
			}
			.col-md-1 {
				height: 100%;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				.btn {
					color: #333333;
					height: 14px;
					padding: 0;
					font-size: 14px;
					border: none;
					line-height: 14px;
					opacity: .6;
				}
			}
			
		}
		
		
		
	}
}


.navbar-fixed-bottom {
	height: 108px;
	.container {
		padding: 0;
		height: 100%;
		width: 1264px;
	}
	.foot_info {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 100%;
		padding-left: 3px;
	}
	.foot_left {
		// input {
		// }
		label {
			color: rgba(0,0,0,.6);
			font-size: 16px;
		}
	}
	.foot_right {
		display: flex;
		align-items: center;
		.conut_summary {
			font-size: 18px;
			color: #f24142;
			.sum {
				height: 22px;
				font-size: 16px;
				color: #343a40;
				line-height: 22px;
				margin-right: 8px;
			}
			span {
				margin-right: 4px;
			}
			#sumMoney {
				font-size: 28px;
				font-weight: 400;
				color: #f24142;
				line-height: 28px;
			}
			p {
				margin: 0;
			}
			
		}
		.buy {
			margin-left: 40px;
			button {
				width: 156px;
				height: 48px;
				background-color: rgb(243, 65, 65);
				color: white;
				font-size: 15px;
				border-radius: 28px;
				font-weight: 300;
			}
		}
	}
}