body {
  background: #fafafa;
}
.row {
  margin: 0;
}
.col-md-5,
.col-md-2,
.col-md-1 {
  padding: 0;
}
.btn:hover,
.btn-default:hover {
  background-color: transparent;
  border-color: transparent;
}
.btn:focus,
.btn:active:focus {
  outline: none;
  box-shadow: none;
  background-color: transparent;
}
.checkbox-diy {
  /* css 复选框 */
}
.checkbox-diy input[type=checkbox] {
  position: relative;
  width: 16px;
  height: 16px;
  margin-right: 8px;
}
.checkbox-diy input[type=checkbox]::after {
  position: absolute;
  top: 0;
  background-color: #fff;
  color: #fff;
  width: 16px;
  height: 16px;
  display: inline-block;
  text-align: center;
  content: '';
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.54);
}
.checkbox-diy input[type=checkbox]:checked::after {
  content: "";
  background-color: red;
  border-color: red;
}
.checkbox-diy input[type=checkbox]:checked::before {
  content: '';
  position: absolute;
  top: 1px;
  left: 5px;
  width: 7px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  z-index: 1;
}
main {
  margin-top: 120px;
  padding: 8px 0;
  margin-bottom: 128px;
}
main .allGoods {
  display: flex;
  color: rgba(0, 0, 0, 0.54);
  height: 62px;
  background-color: #fff;
  font-size: 14px;
  padding: 0 26px;
}
main .allGoods div {
  margin: 0 16px;
  cursor: pointer;
  line-height: 62px;
  user-select: none;
  letter-spacing: 0.09em;
}
main .allGoods .active {
  color: #f34141;
  border-bottom: 4px solid #eb0028;
}
main .table-info {
  width: 132px;
  margin-right: 24px;
  flex-shrink: 0;
}
main .goodsInfo {
  display: flex;
  color: rgba(0, 0, 0, 0.54);
  height: 62px;
  background-color: #fff;
  font-size: 16px;
  padding: 0 33px;
  height: 64px;
  margin-top: 12px;
  line-height: 64px;
  color: #343a40;
}
main .goodsInfo .row {
  width: 100%;
  font-size: 16px;
}
main .goodsInfo .row .col {
  text-align: center;
}
main .goodsInfo .row .col:nth-child(2) {
  text-align: left;
}
main .goodsList {
  padding: 0 0 19px;
  box-sizing: content-box;
}
main .goodsList .list {
  background-color: #fff;
  display: flex;
  padding-top: 24px;
  height: 124px;
  margin-top: 12px;
  padding: 24px 28px;
}
main .goodsList .list .table-info {
  display: flex;
  align-items: center;
  justify-content: center;
}
main .goodsList .list .table-info img {
  width: 100px;
  height: 100px;
}
main .goodsList .list .row {
  width: 100%;
  font-size: 18px;
  height: 44px;
  display: flex;
  align-items: center;
}
main .goodsList .list .row .col {
  text-align: center;
}
main .goodsList .list .row .col:nth-child(-n + 2) {
  text-align: left;
}
main .goodsList .list .row .product_info {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}
main .goodsList .list .row .product_info a {
  color: #343a40;
  font-weight: 400;
}
main .goodsList .list .row .changeNmuber {
  display: flex;
  align-items: center;
  justify-content: center;
}
main .goodsList .list .row .changeNmuber button {
  width: 24px;
  height: 24px;
  text-align: center;
  line-height: 24px;
  padding: 0;
  color: rgba(0, 0, 0, 0.3);
  background-color: #f7f8fa;
  border: none;
  border-radius: 6px;
  font-size: 18px;
}
main .goodsList .list .row .changeNmuber input {
  width: 32px;
  height: 17px;
  border: none;
  text-align: center;
  padding: 0;
  font-size: 12px;
}
main .goodsList .list .row .limit {
  color: #343a40;
  margin-top: 4px;
  opacity: 0.5;
  font-size: 14px;
}
main .goodsList .list .col-md-1 {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main .goodsList .list .col-md-1 .btn {
  color: #333333;
  height: 14px;
  padding: 0;
  font-size: 14px;
  border: none;
  line-height: 14px;
  opacity: 0.6;
}
.navbar-fixed-bottom {
  height: 108px;
}
.navbar-fixed-bottom .container {
  padding: 0;
  height: 100%;
  width: 1264px;
}
.navbar-fixed-bottom .foot_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding-left: 3px;
}
.navbar-fixed-bottom .foot_left label {
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
}
.navbar-fixed-bottom .foot_right {
  display: flex;
  align-items: center;
}
.navbar-fixed-bottom .foot_right .conut_summary {
  font-size: 18px;
  color: #f24142;
}
.navbar-fixed-bottom .foot_right .conut_summary .sum {
  height: 22px;
  font-size: 16px;
  color: #343a40;
  line-height: 22px;
  margin-right: 8px;
}
.navbar-fixed-bottom .foot_right .conut_summary span {
  margin-right: 4px;
}
.navbar-fixed-bottom .foot_right .conut_summary #sumMoney {
  font-size: 28px;
  font-weight: 400;
  color: #f24142;
  line-height: 28px;
}
.navbar-fixed-bottom .foot_right .conut_summary p {
  margin: 0;
}
.navbar-fixed-bottom .foot_right .buy {
  margin-left: 40px;
}
.navbar-fixed-bottom .foot_right .buy button {
  width: 156px;
  height: 48px;
  background-color: #f34141;
  color: white;
  font-size: 15px;
  border-radius: 28px;
  font-weight: 300;
}
